<section class="todoTable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Date (by)</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todoList">
                <td>{{ todo.title }}</td>
                <td>{{ todo.type }}</td>
                <td>{{ todo.date }}</td>
                <td><input type="checkbox" [checked]="todo.done"></td>
            </tr>
        </tbody>
    </table>
</section>